name: Docker Image CI

on:
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: make
      env:
        DOCKER_IMAGE_HOST: ghcr.io
        DOCKER_IMAGE_ORG: demigod-tools
